<main class="container container-1-2">
    <app-vehicules (myVehicleEvent)="showVehicle($event)" ></app-vehicules>
    <div *ngIf="!vehicle">
      <p class="card text-secondary"> Veuillez selectionner un véhicule !</p>
    </div>
    <div *ngIf="vehicle">
        <div class="card navbar-link active ">
          <div class="information mb-5">
            <div>
              <h2 class="title text-secondary navbar-link active ">{{vehicle.name}}</h2>
              <div class="info mb-3">
                <span class="text-secondary navbar-link active">Prix :</span>
              {{vehicle.cost_in_credits}}</div>
            </div>
          </div>
          
          <div class="d-grid-2 mt-5 mb-5 w-100 ">
            <div class="information">
              <span class="fas fa-motorcycle fa-3x img text-secondary navbar-link active  "></span>
              <div>
                <div class="bold text-secondary navbar-link active"> Model </div>
                <p>{{vehicle.model}}</p>
              </div>  
            </div>
            <div class="information">
              <span class="fas fa-text-height fa-3x img text-secondary navbar-link active  "></span>
              <div>
                <div class="bold text-secondary navbar-link active "> Taille </div>
                <p>{{vehicle.length}}</p>
              </div>
            </div>
          </div>
          <div class="d-grid-2 mt-5 mb-5 w-100  ">
            <div class="information">
              <span class="fas fa-users fa-3x img text-secondary navbar-link active "></span>
              <div>
                <div class="bold text-secondary navbar-link active"> Nombre de passager possible </div>
                <div class="info">{{vehicle.passengers}}</div>
              </div>
            </div>
            <div class="information">
              <span class="fas fa-clock fa-3x img text-secondary navbar-link active"></span>
              <div>
                <div class="bold  text-secondary navbar-link active"> Consommables </div>
                <div class="info">{{vehicle.consumables}}</div>
              </div>
            </div>
          </div>
          <div class="mt-5 d-flex right">
            <div class="btn">En savoir plus</div>
          </div>
        </div>
      </div>
    </main>
